{% extends "base.html.twig" %}

{% block title %}To do
{% endblock %}

{% block body %}
	<main>

		<section class="container">
			<a href="{{path('app_todo_create')}}" class="btn btn-light my-5">New To Do list</a>
			<div class="row">

				<table class="table table-striped">
					<tr>
						<th>Titre</th>
						<th>Categories</th>
						<th>Créé le</th>
						<th>Modifié le</th>
						<th>A faire pour</th>
						<th>Actions</th>
					</tr>
					{% for todo in todolist %}
						<tr>
							<td>{{ todo.title }}</td>
							<td>{{ todo.category.name}}</td>
							<td>{{ todo.createdAt|date('d/m/Y') }}</td>
							<td>{{ todo.updateAt|date('d/m/Y') }}</td>
							<td>{{ todo.dateFor|date('d/m/Y') }}</td>

							<td>
								<a href="{{ path('app_todo_show',{'id' : todo.id }) }}" class="btn btn-success">Show</a>
								<a href="{{ path('app_todo_update',{'id' : todo.id }) }}" class="btn btn-info">Update</a>
								<a href="{{ path('app_todo_delete',{'id' : todo.id }) }}" class="btn btn-danger">Delete</a>
							</td>
						</tr>
					{% endfor %}
				</table>

			</div>
		</section>
	</main>
{% endblock %}
