{% extends "base.html.twig" %}

{% block body %}
	<main>
		<section class="container bg-light">
			<a href="{{path('app_todo')}}" class="btn btn-danger my-5">All To Do list</a>
			<h3>Titre : {{ todo.title }}</h3>
			<p>Catégorie : {{ todo.category.name}}</p>
			<p>Créé le : {{ todo.createdAt|date('d/m/Y') }}</p>
			<p>Mise à jour le : {{ todo.updateAt|date('d/m/Y') }}</p>
			<p>A faire pour : {{ todo.dateFor|date('d/m/Y') }}</p>

			<p>Résumé : {{ todo.content }}</p>


		</section>
	</main>
{% endblock %}
