{% extends "base.html.twig" %}

{% block body %}
	<main>
		<section class="container bg-light">
			<a href="{{path('app_todo')}}" class="btn btn-danger my-5">All To Do list</a>
			<p>{{ todo.title }}</p>
			<p>{{ todo.category.name}}</p>
			<p>{{ todo.createdAt|date('d/m/Y') }}</p>
			<p>{{ todo.content }}</p>


		</section>
	</main>
{% endblock %}
