{% extends "base.html.twig" %}

{% block body %}

	<div class="container">

		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }} my-3">
					{{ message }}
				</div>
			{% endfor %}

		{% endfor %}
		<a href="{{path('app_todo')}}" class="btn btn-primary my-3">All To Do list</a>
		<div class="row justify-content-center">
			<div class="col-6">
				<h3 class="mb-5">Modifier la To Do liste</h3>

				{{ form(formTodo) }}


					<form class="deleteForm" action="{{ path('app_todo_delete_csrf', { id: todo.id }) }}" method="POST">

						<input type="hidden" name="_method" value="DELETE"/>
						<input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>

						<button type="submit" class="btn btn-danger">Delete</button>
					</form>
				</div>
			</div>
		</div>
	{% endblock %}

	{% block javascripts %}
	{{ parent() }}
		<script>
			const deleteForm = document.querySelector('.deleteForm');
				deleteForm.addEventListener('click', function(e) {
					e.preventDefault();
					if (confirm('Supprimer ?')) {
						this.submit()
					}
				});
		</script>
	{% endblock %}
